<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/site.css">
        <title>{{title}}</title>
    </head>
    <body>
        <div class="layout">
            <div>{{header}}</div>
                <div>
                    <div class="container container wide vertical-padding-none">
                    <div class="home">
                        <div class="page">
                            {{body}}
                        </div>
                    </div>
                </div>
            </div>
            <div>{{footer}}</div>
        </div>
    </body>
</html>